.jumbotron h1{

        font-weight: 700;
        font-size: 48px;
}

/* 

    /* section heading css start header */
    .contact-head{
        text-align: center;
        background-color: dimgray;    
    }

    .contact-info{

        background-color:rgb(180, 180, 180);
        color:black;
        font-size: 18px;
        margin-bottom: 3rem;
        padding: 40px;
        margin-top: 40px;
    }
    /* section heading css end header */